<div class="table">
  <h2>Список пивных напитков</h2>
  <p-table [value]="beerList" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
          <th class="th-favourite">Избранное</th>
          <th class="th-id">Уникальный номер</th>
          <th class="th-name">Название пива</th>
          <th class="th-info">Информация о продукте</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beer>
        <tr class="beer-info">
          <td (click)="addToFavourites(beer.id)" [attr.title]="beer.selected==true?'Удалить из избранного':'Добавить в избранное'"><div class="star" [ngClass]="{selected: beer.selected, noSelected: !beer.selected}"></div></td>
          <td>{{beer.id}}</td>
          <td>{{beer.name}}</td>
          <td><button pButton type="button" class="p-button-info" (click)="openDetail(beer.id)">Подробнее</button></td>
        </tr>
    </ng-template>
  </p-table>
</div>
<router-outlet></router-outlet>
